<h1>Đăng nhập Admin</h1>

<% if flash[:alert] %>
    <div class="flash flash-alert">
        <%= flash[:alert] %>
    </div>
<% end %>

<%= form_with url: admin_login_path, local: true do |f| %>
    <div>
        <%= f.label :email %><br>
        <%= f.email_field :email %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <%= f.submit "Đăng nhập" %>
<% end %>