<h1 class="text-center mb-4">Đăng nhập Admin</h1>

<% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% elsif flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<div class="justify-content-center">
    <div>
        <%= form_with url: admin_login_path, local: true do |f| %>
            <div class="mb-3">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, class: "form-control", autofocus: true %>
            </div>

            <div class="mb-3">
                <%= f.label :password, class: "form-label" %>
                <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= link_to "Forgot your password?", new_admin_password_path, class: "text-decoration-none" %>
            </div>

            <%= f.submit "Log in", class: "btn btn-primary w-100" %>
        <% end %>
    </div>
</div>
