<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :role_id, "Role" %>
    <%= form.collection_select :role_id, Role.all, :id, :name, prompt: "Chọn role" %>
  </div>

  <div class="field">
    <%= form.label :team_id, "Team" %>
    <%= form.collection_select :team_id, Team.all, :id, :name, prompt: "Chọn team" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
