<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.team&.name || "No team" %></td>
<td><%= user.role&.name || "No role" %></td>
<td><%= user.created_at %></td>
<td>
    <%= link_to "Show", user %> 
    | <%= link_to "Edit", edit_user_path(user) %> 
    | <%= button_to "Destroy", user, method: :delete %>
</td>