<tr>
    <td><%= role.name %></td>
    <td><%= role.description %></td>
    <td><%= role.created_at.strftime("%Y-%m-%d") %></td>
    <td>
        <div class="td-action">
            <%= link_to [:admin, role], class: "btn btn-sm btn-info flex-fill text-while" do %>
                <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_admin_role_path(role), class: "btn btn-sm btn-primary flex-fill text-while" do %>
                <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to [:admin, role],
                method: :delete,
                data: { turbo_confirm: "Bạn có chắc chắn muốn xóa role này không?" },
                class: "btn btn-sm btn-danger flex-fill text-while" do %>
                <i class="fas fa-trash"></i>
            <% end %>
        </div>
    </td>
</tr>