<div class="card shadow-sm mb-4" style="max-width: 600px;">
    <div class="card-header">
        <h3 class="mb-0">Create User</h3>
    </div>
    <div class="card-body px-4">
        <%= form_with(model: [:admin, user], local: true, html: { multipart: true }) do |form| %>
            <div class="mb-3">
                <%= form.label :name, class: "form-label" %> <span class="label-required">*</span>
                <%= form.text_field :name, class: "form-control" %>
                <% if @user.errors[:name].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:name).join(', ') %>
                    <div>
                <% end %>
            </div>
            <div class="mb-3">
                <%= form.label :email, class: "form-label" %> <span class="label-required">*</span>
                <%= form.text_field :email, class: "form-control" %>
                <% if @user.errors[:email].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:email).join(', ') %>
                    <div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= form.label :role_id, "Role", class: "form-label" %> <span class="label-required">*</span>
                <%= form.collection_select :role_id, Role.all, :id, :name, { prompt: "Select Role" }, { class: "form-select" } %>
                <% if @user.errors[:role_id].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:role_id).join(', ') %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= form.label :team_id, "Team", class: "form-label" %> <span class="label-required">*</span>
                <%= form.collection_select :team_id, Team.all, :id, :name, { prompt: "Select Team" }, { class: "form-select" } %>
                <% if @user.errors[:team_id].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:team_id).join(', ') %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= form.label :password, class: "form-label" %> <span class="label-required">*</span>
                <%= form.password_field :password, class: "form-control" %>
                <% if @user.errors[:password].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:password) %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %> <span class="label-required">*</span>
                <%= form.password_field :password_confirmation, class: "form-control" %>
                <% if @user.errors[:password_confirmation].any? %>
                    <div class="text-danger mt-1">
                        <%= @user.errors.full_messages_for(:password_confirmation) %>
                    </div>
                <% end %>
            </div>

            <div class="mb-3">
                <%= form.label :avatar, class: "form-label" %>
                <%= form.file_field :avatar, class: "form-control", id: "avatar_input", accept: "image/*" %>
            
                <div class="avatar_preview_container" class="mt-2">
                    <% if user.avatar.attached %>
                        <p>Current avatar:</p>
                        <%= image_tag user.avatar.variant(resize_to_limit: [100, 100]), id: "avatar_preview", class: "img-thumbnail" %>
                    <% else %>
                        <img id="avatar_preview" src="#" alt="Avatar preview" style="display: none;" class="img-thumbnail" width="100" height="100">
                    <% end %>
                </div>
            </div>
            <div>
                <%= link_to admin_users_path, class: "btn btn-secondary" do %>
                    <i class="fas fa-arrow-left me-1"></i> Back
                <% end %>

                <%= form.submit class: "btn btn-primary" do %>
                    <i class="fas fa-save me-1"></i>Create
                <% end %>
            </div>
        <% end %>
    </div>
</div>
