<tr>
    <td class="align-middle"><%= user.name %></td>
    <td class="align-middle">
        <% if user.avatar.attached? %>
            <%= image_tag user.avatar.variant(resize_to_limit: [100, 100]), class: "img-thumbnail rounded-circle" %>
        <% else %>
            <% default_avatar_path = Rails.application.assets.find_asset('default_avatar.png') ? 'default_avatar.png' : 'https://placehold.co/100x100/cccccc/000000?text=Avatar' %>
            <%= image_tag default_avatar_path, class: "img-thumbnail rounded-circle", width: 100, height: 100 %>
        <% end %>
    </td>
    <td class="align-middle"><%= user.email %></td>
    <td class="align-middle"><%= user.team&.name || "No team" %></td>
    <td class="align-middle"><%= user.role&.name || "No role" %></td>
    <td class="align-middle"><%= user.created_at.strftime("%Y-%m-%d") %></td>
    <td class="align-middle">
        <div class="td-action">
            <%= link_to [:admin, user], class: "btn btn-sm btn-info flex-fill text-while" do %>
                <i class="fa fa-eye"></i>
            <% end %>
            <%= link_to edit_admin_user_path(user), class: "btn btn-sm btn-primary flex-fill text-while" do %>
                <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to [:admin, user],
                method: :delete,
                data: { turbo_confirm: "Are you sure you want to delete this user?" },
                class: "btn btn-sm btn-danger flex-fill text-white" do %>
                <i class="fas fa-trash"></i>
            <% end %>
        </div>
    </td>
</tr>