<div class="card mb-3 shadow-sm">
    <div class="card-header"><%= user.name %></div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Email:</strong> <%= user.email %></li>
        <li class="list-group-item"><strong>Team:</strong> <%= user.team&.name %></li>
        <li class="list-group-item"><strong>Role:</strong> <%= user.role&.name %></li>
        <li class="list-group-item"><strong>Created at:</strong> <%= user.created_at.strftime("%Y-%m-%d") %></li>
    </ul>
</div>
