<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "login", media: "all" %>
</head>
<body>
    <div class="login-container">
        <%= yield %>
    </div>
</body>
</html>
